$black: #000000;
$white: #ffffff;
$link-color: #086274;
$accent-0-light: #89e3f9;
$accent-0: #3ebede;
$accent-0-dark: #1a8099;
$accent-0-darker: #0e5061;
$screen-xs: 544px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);